.ivc-controls {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);

    position: absolute;
    height: 32px;
    left: 0;
    right: 0;
    bottom: 0;
}

.ivc-controls.ivc-reel {
    background: rgba(0, 0, 0, 0.35);
}

.ivc-controls.ivc-story {
    background: rgba(38,38,38,.6);
}

.ivc-controls-content {
    display: flex;
    flex-direction: row;

    /* Limit the with and center the controls for full screen */
    max-width: 640px;
    margin: 0 auto;

    height: 100%;
    padding: 0 12px;
}

.ivc-control-element {
    margin: 4px;
}

.ivc-icon-button {
    background: transparent;
    border: none;
    outline: none;

    color: #ffffff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;

    cursor: pointer;

    width: 16px;
}

.ivc-control-text {
    flex: 0 0 80px;
    margin: 8px 0;
    text-align: center;
    font-size: 0.9em;

    color: #ffffff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.ivc-control-bar {
    padding: 10px 5px;

    cursor: pointer;
}

.ivc-control-bar-background {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);

    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.ivc-control-bar-progress {
    background: rgba(255, 255, 255, 0.8);

    width: 0;
    height: 100%;

    border-radius: 4px;
}

.ivc-seek-bar {
    flex: 1;
}

.ivc-volume-bar {
    flex: 0 0 48px;
}