body {
    font-family: sans-serif;
    font-size: 14px;

    background-color: #fff;
    color: #111;

    min-width: 400px;
    padding: 0 1em;
}

header {
    margin-bottom: 1em;
}

header .title,
header .subtitle {
    margin: 0;
}

main h1,
main h2,
main h3 {
    margin: 1em 0 0;
}

a {
    color: #888;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul.options-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.options-list li {
    margin: 0.5em 0;
}

ul.options-list label {
    user-select: none;
    cursor: pointer;
}

ul.options-list li select {
    background-color: #fff;
    color: #111;
    border: #888 solid 1px;
}

ul.options-list li .title {
    font-weight: bold;
}

ul.options-list li .hint {
    margin: 0.5em;
    max-width: 400px;
    font-style: italic;
    font-size: 90%;
}

ul.options-list li .hint.warning {
    color: #9e7300;
}

ul.options-list li .hint ul {
    padding: 0 0 0 1.5em;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: #fff;
    }

    ul.options-list li select {
        background-color: #111;
        color: #fff;
    }

    ul.options-list li .hint.warning {
        color: #ffba00;
    }
}
